body {
  font-family: 'Open Sans', 'Noto Sans TC', 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background: #e2e1e0; */
  background: #fff;
  overflow: hidden;
  overflow-y: auto;
}

a:hover {text-decoration: none;}

#level44:target::before {
  content: "";
  display: block;
  height: 80px;
}
/**- header -**/
.navbar-brand img {width: auto;max-height: 45px;}


/**- wrap#44 -**/
.show, .showUrl {display: none;}

/* The side navigation menu */
.sideNav {
  height: 100%; 
  position: fixed; 
  z-index: 1010; 
  top: 0; 
  left: 0;
  background: #e2e1e0; 
  overflow-x: hidden; 
  transition: all .15s; 
}
.sideNav-container {
    position: relative;
    width: 240px;
    height: 100%;
        display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0,.19);
}
.sideNav-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
}
.sideNav-item {
    transition: all .3s ease-in-out;
    margin-left: -15px;
    margin-right: -15px;
}
.sideNav-item a.sideNav-link {
    padding: 15px;
    color: #1b1b1b;
    border-bottom: 1px solid #ced4da;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

body.has-sidenav-fixed {
    padding-left: 240px;
    transition: all .15s ease-in-out;
}
body.hideSidenav {
  padding-left: 0;
}

body.has-sidenav-fixed.hideSidenav .sideNav {
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media (max-width: 576px) {
  body.has-sidenav-fixed {
      position: relative;
      left: 240px;
      padding-left: 0;
      transition: all .15s ease-in-out;
  }
  body.hideSidenav {
    position: relative;
    left: 0;
    padding-left: 0;
  }
  body.has-sidenav-fixed.hideSidenav .sideNav {
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
  }
  body.has-sidenav-fixed.hideSidenav .navbar {
      left: 0;
  }
}
