body {
    font-family: 'Raleway', 'Noto Sans TC', 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* background: #e2e1e0; */
	color: #1b1b1b;
	font-weight: normal;
    overflow: hidden;
    overflow-y: auto;
}

a:hover, a:focus {text-decoration: none;}


/*--側選單 --*/
.sideNav {
	width: 160px;
	height: 100vh;
	background: #ECECEC;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	-webkit-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, .1);
	box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, .1);
}
.sideNav .menubutton {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1b1b1b;
	font-size: 20px;
	width: 100%;
	margin-top: 90px;
}
.sideNav .menubutton span {
	margin-right: 20px;
    width: 30px;
    height: 1px;
	background: #1b1b1b;
	display: block;
    position: relative;
}
.sideNav .menubutton span::before,
.sideNav .menubutton span::after {
	content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #1b1b1b;
    position: absolute;
    right: 0;
    top: 0;
}
.sideNav .menubutton span::before {
	-webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
}
.sideNav .menubutton span::after {
	-webkit-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
}
.sideNav .follow {
	display: flex;
    justify-content: center;
    align-items: center;
	-moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	color: #0B346E;
	font-weight: 600;
	text-align: center;
}
.sideNav .follow a{margin: 5px 0;display: flex;}
.sideNav .follow span{margin-bottom: 45px;}
.sideNav .follow img {
	width: 20px;
	height: 20px;
}
.sideNav .language {
	font-family: 'Noto Sans TC', sans-serif;
	width: 100%;
	text-align: center;
	list-style:none;
	margin: 45px 0;
	padding: 0;
}
.sideNav .language a {color: #0B346E;}
.sideNav .language li{padding: 5px 0;position: relative;}
.sideNav .language li:first-child::after {
	content: '';
	width: 34px;
	height: 1px;
	background: #0B346E;
	position: absolute;
	left: calc(50% - 17px);
	bottom: -1px;
}


/*-- 主要內容 --*/
#main {
	margin-left: 160px;
	width: calc(100% - 160px);
}
.bannerWrap {
	height: 100vh;
	overflow: hidden;
	background: url(../images/bg_01.jpg) no-repeat center / cover;
	position: relative;
	z-index: 0;
}
.bannerWrap::before {
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(27,27,27,.3);
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.bannerImg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
}
.bannerImg img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 350px;
}


/*-- 訂房區 --*/
.bookingBox {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* width: 100%;
	max-width: 1000px; */
	height: 120px;
	background: #fff;
}
.bookingList {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bookingList>li {
	position: relative;
    padding: 15px 140px 15px 21px;
	background-color: #fff;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.dateSelector::after {
	content: '';
	width: 1px;
	height: 90px;
	background: #ECECEC;
	position: absolute;
	top: 15px;
	right: 0;
}
.bookingTitle {
	display: block;
	letter-spacing: 2px;
}
.bookingList .ymData, .bookingList .decoration {
	display: block;
	color: #717171;
	font-size: 0.85rem;
}
.bookingList .day, .bookingList .room {
	font-weight: 600;
    font-size: 5rem;
    position: absolute;
    right: 45px;
    top: -7px;
}
.bookingList .material-icons {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 1;
    margin-top: -9px;
    font-size: 20px;
}
.bookingSubmitBtn {
	background: #0B346E;
    color: #fff;
    border: none;
	padding-left: 35px;
	padding-right: 35px;
	letter-spacing: 2px;
}
.bookingSubmitBtn:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*-- 關於我們 --*/
.aboutWrap {position: relative;z-index: 0;}
.aboutWrap::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	background: url(../images/el_02.png) no-repeat left top / 500px,
				url(../images/el_03.png) no-repeat right bottom / 300px;
}
.title {
	background: url(../images/title_01.svg) no-repeat center top / 400px; 
	font-size: 1.75rem;
	color: #717171;
	letter-spacing: 6px;
	padding-top: 50px;
	margin: 20px auto 30px;
}
.aboutWrap .txt {position: relative;padding-bottom: 145px;}
.aboutWrap .txt::before, .aboutWrap .txt::after {
	content: '';
	width: 1px;
	position: absolute;	
}
.aboutWrap .txt::before {height: 45px;background: #707070;bottom: 55px;}
.aboutWrap .txt::after {height: 55px;background: #D6D6D6;bottom: 0;}

/*-- 房間列表 --*/
.roomWrap {
	background: #666;
	position: relative;
}
.roomBox {
	height: 600px;
	outline: none !important;
	overflow: hidden;
	position: relative;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.roomInfo {
	background: #0B346E;
	position: absolute;
	top: 0;
	right: 140px;
	text-align: center;
	color: #FAFAFA;
}
.roomInfo .title {
	background: url(../images/title_02.svg) no-repeat center top / 300px;
	color: #fafafa;
	margin-top: 60px;
}
.roomName {
	font-size: 1.5rem;
	font-weight: 600px;
	margin-bottom: 20px;
}
.normalPrice {
	color: #C59B6B;
	font-size: 1rem;
	font-weight: 600px;
}
.normalPrice>small{
	color: #fafafa;
	font-weight: normal;
	padding-right: 10px;
}
.roomDescription {
	width: 100%;
	max-width: 300px;
	margin: 20px auto 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.roomInfo .moreBtn {
	color: #C59B6B;
	font-size: 1.125rem;
	letter-spacing: 1.35px;
	border-bottom: 1px solid #C59B6B;
}


/*-- 交通方式 --*/
.trafficWrap .title {
	background: url(../images/title_03.svg) no-repeat center top / 400px;
	padding-top: 65px;
}
.trafficBox {
	display: flex;
	align-items: center;
	justify-content: center;
}
.trafficBox .material-icons {
	width: 60px;
	height: 60px;
	font-size: 30px;
	border: 1px solid #9F7F5D;
	color: #9F7F5D;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.trafficBox .material-icons::after {
	content: '';
	width: 20px;
	height: 1px;
	background: #9F7F5D;
	position: absolute;
	top: 50%;
	right: -10px;
}
.trafficBox .txt {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	font-size: 1.125rem;
}
.trafficBox .txt>span {
	color: #717171;
	font-weight: 300;
}
/*-- 頁尾 --*/
#footer {
	margin-left: 160px;
	width: calc(100% - 160px);
	background: #0B346E;
	color: #FAFAFA;
}
#footer .flogo {position: relative;}
#footer .flogo::after {
	content: '';
	width: 1px;
	height: 100%;
	background: #fafafa;
	position: absolute;
	right: 0;
	top: 0;
}
.flogo img {
	width: auto;
	max-height: 30px;
}
#footer .info {
	list-style: none;
	margin: 0;
}
#footer .info li {
		display: flex;
		align-items: center;
		margin: 5px 0;
}
#footer .info .material-icons {
	font-size: 15px;
	margin: 0 15px;
}